<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Add a new order</title>
</head>

<body>
   <div layout:fragment="content">
      <div class="container mt-3 mb3">
         <form th:action="@{/orders/addNew}" action="#" method="post" th:object="${blank_orderModel}">
            
            <div class="mb-3">
               <label for="orderNubmerInput" class="form-label">Order Number</label>
               <input th:field="*{orderNo}" type="text" class="form-control" id="orderNubmerInput" aria-describedby="orderNumberHelp">
               <div id="orderNumberHelp" class="form-text">Invent a number for this order</div>
            </div>

            <div class="mb-3">
               <label for="orderNameInput" class="form-label">Order Name</label>
               <input th:field="*{productName}" type="text" class="form-control" id="orderNameInput" aria-describedby="orderNameHelp">
               <div id="orderNameHelp" class="form-text">Invent a name for this order</div>
            </div>

            <div class="mb-3">
               <label for="orderPriceInput" class="form-label">Order Price</label>
               <input th:field="*{price}" type="text" class="form-control" id="orderPriceInput" aria-describedby="orderPriceHelp">
               <div id="orderPriceHelp" class="form-text">Invent a price for this order</div>
            </div>

            <div class="mb-3">
               <label for="orderQuantityInput" class="form-label">Order Quantity</label>
               <input th:field="*{quantity}" type="text" class="form-control" id="orderQuantityInput" aria-describedby="orderQuantityHelp">
               <div id="orderQuantityHelp" class="form-text">Invent a quantity for this order</div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
   </div>
</body>

</html>