<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">

<body>
   <div layout:fragment="content">
      <div class="container mt-3 mb3">
         <form th:action="@{/orders/doUpdate}" action="#" method="post" th:object="${orderModel}">

            <input type="hidden" th:field="${orderModel.id}" name="id">

            <div class="mb-3">
               <label for="orderNubmerInput" class="form-label">Order Number</label>
               <input th:field="*{orderNo}" type="text" class="form-control" id="orderNubmerInput"
                  aria-describedby="orderNumberHelp">
               <div id="orderNumberHelp" class="form-text">Invent a number for this order</div>
               <div class="fieldError">
                  <p th:if="${#fields.hasErrors('orderNo')}" th:errorss="*{orderNo}>">Invalid orderNo</p>
               </div>
            </div>

            <div class="mb-3">
               <label for="orderNameInput" class="form-label">Order Name</label>
               <input th:field="*{productName}" type="text" class="form-control" id="orderNameInput"
                  aria-describedby="orderNameHelp">
               <div id="orderNameHelp" class="form-text">Invent a name for this order</div>
               <div class="fieldError">
                  <p th:if="${#fields.hasErrors('productName')}" th:errorss="*{productName}>">Invalid productName</p>
               </div>
            </div>

            <div class="mb-3">
               <label for="orderPriceInput" class="form-label">Order Price</label>
               <input th:field="*{price}" type="text" class="form-control" id="orderPriceInput"
                  aria-describedby="orderPriceHelp">
               <div id="orderPriceHelp" class="form-text">Invent a price for this order</div>
               <div class="fieldError">
                  <p th:if="${#fields.hasErrors('price')}" th:errorss="*{price}>">Invalid price</p>
               </div>
            </div>

            <div class="mb-3">
               <label for="orderQuantityInput" class="form-label">Order Quantity</label>
               <input th:field="*{quantity}" type="text" class="form-control" id="orderQuantityInput"
                  aria-describedby="orderQuantityHelp">
               <div id="orderQuantityHelp" class="form-text">Invent a quantity for this order</div>
               <div class="fieldError">
                  <p th:if="${#fields.hasErrors('quantity')}" th:errorss="*{quantity}>">Invalid quantity</p>
               </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

         </form>

      </div>
   </div>
</body>

</html>