<html layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
   <h2 th:text="${title}"></h2>

   <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">OrderNo</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
         </tr>
      </thead>
      <tbody>
         <tr th:each="order : ${orders}">
            <th scope="row" th:text="${order.id}"></th>
            <td th:text="${order.orderNo}"></td>
            <td th:text="${order.productName}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.quantity}"></td>
            <td>
               <form action="#" th:action="@{/orders/delete}" th:object="${order}" method="post">
                  <input type="hidden" name="id" th:value="${order.id}">
                  <input type="hidden" name="orderNo" th:value="${order.orderNo}">
                  <input type="hidden" name="productName" th:value="${order.productName}">
                  <input type="hidden" name="price" th:value="${order.price}">
                  <input type="hidden" name="quantity" th:value="${order.quantity}">
                  <button type="submit" class="btn btn-danger" name="deleteItem">Delete</button> 
               </form>
            </td>
            <td>
               <form action="#" th:action="@{/orders/editForm}" th:object="${order}" method="post">
                  <input type="hidden" name="id" th:value="${order.id}">
                  <input type="hidden" name="orderNo" th:value="${order.orderNo}">
                  <input type="hidden" name="productName" th:value="${order.productName}">
                  <input type="hidden" name="price" th:value="${order.price}">
                  <input type="hidden" name="quantity" th:value="${order.quantity}">
                  <button type="submit" class="btn btn-secondary" name="deleteItem">Edit</button> 
               </form>
            </td>
         </tr>
      </tbody>
   </table>
</div>

</html>