<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Add a new order</title>
</head>

<body>
   <div layout:fragment="content">
      <div class="container mt-3 mb3">
         <form th:action="@{/orders/search}" action="#" method="post" th:object="${searchModel}">

            <div class="mb-3">
               <label for="searchTermInput" class="form-label">Search</label>
               <input th:field="*{searchTerm}" type="text" class="form-control" id="searchTermInput" aria-describedby="searchTermHelp">
               <div id="searchTermHelp" class="form-text">Give a phrase to search for</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>

      </div>
   </div>
</body>

</html>