<!DOCTYPE html>
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- header -->
    <div th:replace="~{layouts/commonHeader::~{::header}}"> my header will go here </div>
    <!-- <div th:replace="layouts/commonHeader :: header"> my header will go here </div> -->

    <!-- content -->
    <div layout:fragment="content"> 
        <p>replace this with a page that has layout:fragment="content"</p>
    </div>
    <!-- footer -->
    <div th:replace="~{layouts/commonFooter::~{::footer}}"> my footer will go here </div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>